#about {
    h2 {
        font-weight: 700;
        @media (max-width: 1200px) {
        font-size: 2rem;
        }
    }
    h2 > span {
        display: inline-block;
        letter-spacing: 0.1em;
        height: 39px;
        box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.184);
    }

    h2 > img {
        width: 15px;
        height: 39px;
    }

    .left-tool{
        padding: 0 10px 0 20px;
        border-radius: 20px 0 0 20px;
    }
    .tool{
        padding: 0 15px 0 20px;
        border-radius: 20px 0 0 20px;
    }
    .right-tool{
        padding: 0 20px 0 20px;
        border-radius: 20px 20px 20px 20px;
    }

    .corners {
        vertical-align: top;
    }

    .tools-name {
        font-family: "Big Shoulders Display", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .main-title {
        font-family: "Big Shoulders Display", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .main-title {
        font-size: 3.8em !important;
    }

    @media (max-width: 1400px) {
        .main-title {
            font-size: 3.2em !important;
        }
    }

    @media (max-width: 1200px) {
        .portfolio__face {
            width: 150%;
            height: auto;
        }

        .portfolio__description {
            h1 {
                font-size: 1.8em;
            }

            h3 {
                font-size: 1em;
            }
        }

        .main-title {
            font-size: 2.6em !important;
        }

    }

    @media (max-width: 992px) {
        .portfolio__face {
            width: 100%;
            height: auto;
        }

        .portfolio__description {
            h1 {
                font-size: 1.5em;
            }

            h3 {
                font-size: 1em;
            }
        }

        .main-title {
            font-size: 2.3em !important;
        }
    }

    @media (max-width: 575px) {
        .portfolio__face {
            display: none;
        }

        .portfolio__description {
            h1 {
                font-size: 1.5em;
            }

            h3 {
                font-size: 1em;
            }
        }

        .main-title {
            font-size: 2em !important;
        }
    }

    .cards-overlap {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: -30px;

        .card-1, .card-2 {
            background: $yellow-gradient;
            border-radius: 15px;
            padding: 25px;
            box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.15);
            max-width: 400px;
            transform-origin: center bottom;
        }

        .card-1 {
            transform: rotate(-3deg);
            z-index: 1;
        }

        .card-2 {
            transform: rotate(3deg);
            z-index: 2;
            margin-left: -30px;
        }
    }
}
