.contacto {
    background-color: $blue;
    padding: 100px 0;
}

.contact-info {
    padding-left: 16px;
}

.contact-info a {
    color: white;
    text-decoration: none;
    &:hover {
        color: white;
        text-decoration: none;
    }
}

@media (max-width: 750px) {
    .contacto .container {
        flex-direction: column;
    }
    .contact-info {
        padding-left: 0;
        text-align: center;
    }
}

form {
    max-width: 600px!important;
    button {
        color: white!important;
        background-color: $background!important;
        border: none;
        &:focus {
            outline: 0 !important;
        }
    }
}

.submitFeedback {
    margin-left: 15px;
    font-size: 0.9rem;
}