#experience {
  .experience-card {
    h2 {
      font-family: "Big Shoulders Display", sans-serif;
      font-weight: 300;
      color: white;
      font-size: 3rem;
      letter-spacing: 0.1em;
      margin: 0;
    }

    h4{
      margin-bottom: 2px;
      font-size: 1.8rem;
    }

    hr {
      border: none;
      border-top: 1px solid #265e84;
      width: 100%;
    }

    .company-card {
      border-radius: 0 50px;
      box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.15);

      .title {
        border-radius: 0 30px 0 0;
        padding: 10px 20px;
        background-color: $blue;
      }

      .content {
        border-radius: 0 0 0 30px;
        padding: 10px 20px;
        background: $yellow-gradient;
      }
    }

    .job-details {
      padding: 0 0 0 40px;

      span {
        display: inline;
      }
    }
  }
}
