#experience {
  .experience-card {
    h2 {
      font-family: "Big Shoulders Display", sans-serif;
      font-weight: 300;
      color: $blue;
      font-size: 3rem;
      letter-spacing: 0.2em;
      margin: 0;
    }

    hr {
      border: none;
      border-top: 1px solid #265e84;
      width: 100%;
    }
  }
}
