#sobreMi {
    p {
        font-size: 1rem;
    }
    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        &:hover {
            font-weight: 600;
        }
    }
    .fa-caret-down {
        display: block;
        font-size: 40px;
        opacity: 0.4;
    }
}

.conocimientos {
    padding: 6px 10px;
    border-radius: 10px;
    @extend %glass;
    display: inline;
}

.skills {
    p {
        margin-bottom: 5px;
    }
}

@media (max-width: 991px) {
    .skills {
        margin-left: 60px;
    }
}

#timeline {
    margin-top: 100px!important;
    margin-bottom: 150px;
}

.timeline-title {
    display: inline;
    padding: 6px 10px;
    border-radius: 10px;
    @extend %glass;
}

.sobre-mi-left {
    border-right: 1px solid $blue;
    border-bottom: 1px solid $blue;
    padding: 26px 20px 15px 3px;
    text-align: right;
}

.sobre-mi-right {
    border-left: 1px solid $blue;
    border-bottom: 1px solid $blue;
    padding: 26px 3px 15px 20px;
}

.year-l {
    position: relative;
    border-left: 1px solid $blue;
}

.year-r {
    position: relative;
    border-right: 1px solid $blue;
}

.year-left {
    display: inline;
    padding: 0 9px 3px 9px;
    border-radius: 10px;
    position: absolute;
    bottom: -15px;
    left: -29px;
    @extend %glass;
}

.year-right {
    display: inline;
    padding: 0 9px 3px 9px;
    border-radius: 10px;
    position: absolute;
    bottom: -15px;
    right: -29px;
    @extend %glass;
}