$background: #c65e5c;
$blue: #265e84;
$grey: rgba(255, 255, 255, 0.487);
.grey {
    color: $grey;
}

%glass {
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 5px 20px 0 rgba(255, 255, 255, 0.2);
    backdrop-filter: blur( 3.0px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    background-color: $background;
    background-image: url('../components/img/background.jpg');
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: white
}

#root {
    height: 100%;
}

.main-container {
    height: 100%;
}

@import 'navBar';
@import 'portafolio';
@import 'sobreMi';
@import 'masSobreMi';
@import 'contacto';