$background: #c6685c;
$blue: #265e84;
$grey: rgba(255, 255, 255, 0.487);
$light-grey: rgb(232, 232, 232);
$bg-black-transparent: rgba(0, 0, 0, 0.278);

.grey {
    color: $grey;
}

.blue {
    color: $blue;
}

%glass {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 5px 20px 0 rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    background-color: $background;
    background-image: url('../components/img/background.jpg');
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: white;
    overflow-x: hidden;
}

#root {
    height: 100%;
}

.main-container {
    height: 100%;
}

.main-title {
    font-family: "Big Shoulders Display", sans-serif;
    /*     font-optical-sizing: auto;
 */
    font-weight: 300;
    font-style: normal;
}

.secondary-title {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.section-title {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 8rem;
    letter-spacing: 0.3em;
}

@media (max-width: 992px) {
    .section-title {
        text-align: left;
        font-size: 5rem;
        letter-spacing: 0.1em;
    }
}


@import 'navBar';
@import 'about';
@import 'experience';
@import 'education';
@import 'contacto';
